[Unit]
Description=Prometheus daemon
After=syslog.target network.target

[Service]
User=prometheus
Group=prometheus
Type=simple
WorkingDirectory=/srv/prometheus/current
ExecStart=/srv/prometheus/current/prometheus --config.file=/srv/prometheus/current/prometheus.yml --log.level info
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
